body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    background-color: #23424A;
    color: white;

    width: 80%;
    margin: 0 auto;

    /* height: 10rem;  não usar*/

    /* Usar padding para não fugir as letras */

    padding: 5em; /* 16px * 5em = 90px */
}